body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(22, 21, 21);
}

.inicio {
    display: flex;
    height: 100vh;
}  


.foto {
	flex: 1;
	background-color: rgb(219, 22, 32);
	display: flex;
	align-items: center;
	justify-content: center;
}

.foto img {
	width: 300px;
	height: auto;
	border-radius: 8px;
}